{% extends 'portaladmin/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block topcontent %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Calendar </h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock topcontent %}
{% block botcontent %}
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Calendar
                        </div>
                        <!-- /.panel-heading -->
                        <div id='calendar'></div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morescript %}

<script src="{%static "bower_components/moment/min/moment.min.js" %}"></script>
<script src="{%static "bower_components/fullcalendar/dist/fullcalendar.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script id="cal-form" type="text/x-jsrender">
    {% crispy calendarform %}
</script>
<script>
window.TTS = window.TTS || {}
window.TTS.forms = window.TTS.forms || {}
TTS.forms.showcalform = function(start, end, allDay) {
    console.log('start:',start);
    console.log('end:',end);
    console.log('allDay:',allDay);
    BootstrapDialog.show({
        title: 'Add Event',
        message: $($('#cal-form').render()),
        onshown: function(){
            $('#id_title').val("New Event");
            $('#id_start').val(start.format());
            $('#id_end').val(end.format());

            //alert("Cal Shown");
        },
        buttons: [{
            label: 'Save',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                //var data = TTS.utils.serilaizeJson("#save-cal");
                //TTS.forms.addadmin(dialogItself, data);
                TTS.forms.saveCal() 
            }
            },{
            label: 'Cancel',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};
TTS.forms.saveCal = function () {
    var data = TTS.utils.serilaizeJson("#cal-event");
    console.log(data);
    $.ajax({
        type:'POST',
        data: data,
        url : '/api/admin/calendar/'
    }).done(function( msg ) {
        data = JSON.parse(data);
        TTS.forms.calendar.fullCalendar('renderEvent',
        {
            title: data.title,
            start: data.start,
            end: data.end
        },
        true // make the event "stick"
        );
    });
}

$(document).ready(function() {
    TTS.forms.calendar = $('#calendar').fullCalendar({
        selectable: true,
        selectHelper: true,
        header:
        {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        select: function(start, end, allDay)
        {
            TTS.forms.showcalform(start, end, allDay);
        },
        eventDrop: function (event, dayDelta, minuteDelta) {
            //TTS.forms.saveCal(event);
            console.log("Event Drop");
        },

        eventResize: function (event, dayDelta, minuteDelta) {
            //TTS.forms.saveCal(event);
            console.log("Resize");
        },
        eventClick: function(calEvent, jsEvent, view) {

            alert('Event: ' + calEvent.title);
            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
            alert('View: ' + view.name);

            // change the border color just for fun
            $(this).css('border-color', 'red');

        },
        editable: true,
        events: {
            url:'/api/admin/calendar/'
        },
    })
});
</script>
{% endblock scriptcontent %}

{% block morecss %}
<link rel="stylesheet" href="{%static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}">
{% endblock morecss %}
