{% extends 'portaladmin/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Calendar" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
             {% trans "Calendar" %}
        </div>
        <!-- /.panel-heading -->
        <div id='calendar'></div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morescript %}
<style>
.modal.bootstrap-dialog.size-normal.type-primary.fade.in {
    z-index: 1 !important;
}
</style>
<script src="{%static "bower_components/moment/min/moment.min.js" %}"></script>
<script src="{%static "bower_components/fullcalendar/dist/fullcalendar.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script id="cal-form" type="text/x-jsrender">
    {% crispy calendarform %}
</script>
<script>
window.TTS = window.TTS || {}
window.TTS.forms = window.TTS.forms || {}
TTS.forms.showcalform = function(start, end, allDay) {
    BootstrapDialog.show({
        title: '{% trans "Add Event" %}',
        message: $($('#cal-form').render()),
        onshown: function(){
            $('#id_title').val("New Event");
            $('#id_start').val(start.format('YYYY-MM-DD HH:mm'));
            $('#id_end').val(end.format('YYYY-MM-DD HH:mm'));      
            $('#id_start,#id_end').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
            });
            /*$('#id_start').val(start.format('YYYY-MM-DD hh:mm'));
            $('#id_end').val(end.format('YYYY-MM-DD hh:mm'));      
            $('#id_start,#id_end').datetimepicker({
                format: 'YYYY-MM-DD hh:mm',
            });*/
        },
        buttons: [{
            label: '{% trans "Save" %}',
            cssClass: 'btn-primary',
                action: function(dialogItself){
                    $("#cal-event").validate({
                    rules: {
                        title: {
                            required: true
                        }
                    },
                    messages: {
                        title: "Title is required",
                    }
                });
                if(!$("#cal-event").valid()){
                  return false;  
                }
                    TTS.forms.saveCal();
                    dialogItself.close();
                }
            },{
            label: '{% trans "Close" %}',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};

TTS.forms.saveCal = function () {
    var data = TTS.utils.serilaizeJson("#cal-event");
    data = JSON.parse(data);
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: JSON.stringify(data),
        url : '/api/admin/calendar/'
    }).done(function( msg ) {
        TTS.forms.calendar.fullCalendar('renderEvent',
        {
            title: data.title,
            start: data.start,
            end: data.end,
            alldayevents:$("#id_alldayevents").is(':checked')
        },
        true // make the event "stick"
        );
        location.reload();
    });
}

TTS.forms.updatecalform = function(calEvent, jsEvent, view) {
    if(calEvent.end === null){
        var end_date = calEvent.start.format("YYYY-MM-DD HH:mm")
    }else{
        var end_date = calEvent.end.format("YYYY-MM-DD HH:mm")
    }
    BootstrapDialog.show({
            title: 'Edit Event',
            message: $($('#cal-form').render()),
            onshown: function(){
                $('#id_title').val(calEvent.title);
                $('#id_start').val(calEvent.start.format("YYYY-MM-DD HH:mm"));
                $('#id_end').val(end_date);
                $('#id_start,#id_end').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                });
            },
            buttons: [{
                label: '{% trans "Save" %}',
                cssClass: 'btn-primary',
                action: function(dialogItself){
                    var data = TTS.utils.serilaizeJson("#cal-event");
                    data = JSON.parse(data);
                    $.ajax({
                        headers : {
                        'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
                    },
                        type:'PUT',
                        data: JSON.stringify(data),
                        url : '/api/admin/calendar/'+calEvent.id
                    }).done(function( msg ) {
                        dialogItself.close();
                        location.reload();
                    });
                }
            },{
            label: '{% trans "Delete" %}',
            cssClass: 'btn-danger',
                action: function(dialogItself){
                    if (confirm("Are you sure want to delete?")) {
                        $('#calendar').fullCalendar('removeEvents',calEvent.id);
                        TTS.forms.deletecalevent(calEvent.id);
                    }
                    dialogItself.close();
                }
            },{
            label: '{% trans "Close" %}',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
}

TTS.forms.updatecalevent = function (event,type){
    if(event.end === null){
        var end_date = event.start.format("YYYY-MM-DD HH:mm")
    }else{
        var end_date = event.end.format("YYYY-MM-DD HH:mm")
    }
    var data = {
        "title" : event.title,
        "start" : event.start.format("YYYY-MM-DD HH:mm"),
        "end"   : end_date
    }
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'PUT',
        data: JSON.stringify(data),
        url : '/api/admin/calendar/'+event.id
    }).done(function( msg ) {
        location.reload();
    });
};

TTS.forms.deletecalevent = function(event_id) {
    $.ajax({
         headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'DELETE',
        url : '/api/admin/calendar/'+event_id
    }).done(function( msg ) {
        //location.reload();
    }).error(function(msg){
        alert("Something Bad Happended");
    });
}

$(document).ready(function() {
    TTS.forms.calendar = $('#calendar').fullCalendar({
        header:
        {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        selectHelper: true,
        resizable: true,
        droppable: true,
        editable: true,
        events:{
            url:'/api/admin/calendar/'
        },
        select: function(start, end, allDay)
        {
            TTS.forms.showcalform(start, end, allDay);
        },
        eventDrop: function (event,delta,revertFunc) {
            alert(event.title + " was dropped on " + event.start.format("YYYY-MM-DD HH:mm"));
            if (confirm("Are you sure about this change?")) {
                TTS.forms.updatecalevent(event,"event_drop");
            }else{
                revertFunc();
            }
        },
        eventResize: function (event, delta, revertFunc) {
            /*alert(event.title + " end is now " + event.end.format("YYYY-MM-DD HH:mm"));
            if (confirm("Are you sure want this change?")) {
                TTS.forms.updatecalevent(event,"event_resize");
            }else{
                revertFunc();
            } */
            
            console.log(event);
            console.log(event.start.format());

            /*
            console.log("Resize");
            console.log(event.id);
            console.log(event.title);
            console.log(event.start.format());
            console.log(event.end.format());
            */
        },
        eventClick: function(calEvent, jsEvent, view) {
            TTS.forms.updatecalform(calEvent, jsEvent, view);
        },
        eventRender: function(event, element) {
            element.append( "<div class='fc-resizer'></div>");
            /*element.append( "<span class='closon'><i class='fa fa-trash'></i> </span>");
            element.find(".closon").click(function() {
               if (confirm("Are you sure want to delete?")) {
                    $('#calendar').fullCalendar('removeEvents',event._id);
                    TTS.forms.deletecalevent(event._id);
                }
            });*/
        }
        
    })
});
</script>
{% endblock scriptcontent %}

{% block morecss %}
<link rel="stylesheet" href="{%static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}">
{% endblock morecss %}