{% extends 'portaladmin/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "My works" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "My works" %} 
            <span id="add" class="add"></span>
             <span id="addrec"><i class="fa fa-plus-square fa-lg"></i></span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover"
                     id="admin-main-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link href="{%static "ajaxuploader/css/fileuploader.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, .tts-delete:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>

{% endblock morescript %}

{% block scriptcontent %}
<script id="myresourcelist-form" type="text/x-jsrender">
    <div id="file-uploader">File Uploader Comes Here...</div> 
    {% crispy form %}
</script>

<script>
function getUrlParameter(sParam)
{
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
} 
window.TTS = window.TTS || {};
TTS.forms = TTS.forms || {};
TTS.folderid = getUrlParameter('folderid');
/* ADMIN Crud Starts Here*/
TTS.forms.addmyworks = function(form, data) {
    data = JSON.parse(data)
    data['folderid'] = TTS.folderid;
    data = JSON.stringify(data)
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: data,
        url : '/api/admin/adminresources/'
    }).done(function( msg ) {
        form.close();
        location.reload();
        //dialogItself.close();
    });
}


TTS.forms.delmyworks = function(id) {
    //console.log(id);
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'DELETE',
        url : '/api/admin/adminresources/'+id
    }).done(function( msg ) {
        dialogItself.close();
        location.reload();
    }).error(function(msg){
        alert("Something Bad Happended");
    });
}
/* End of Admin CRUD */

TTS.forms.showmyworkform = function() {
    BootstrapDialog.show({
        title: '{% trans "Add" %} {% trans "My works" %}',
        message: $($('#myresourcelist-form').render()),
        onshown: function(){
            TTS.forms.upload();
            $('.summernote').summernote();
        },
        buttons: [{
            label: '{% trans "Save" %}',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                var data = TTS.utils.serilaizeJson("#add-myresourcelist");
                console.log(data);
                TTS.forms.addmyworks(dialogItself, data); 
            }
            },{
            label: '{% trans "Close" %}',
            action: function(dlg){
                dlg.close();
            }
        }]
    });
};

TTS.forms.rendermywork = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center",
              "data" : "slno"  
            },
            { "title": "{% trans "Title" %}",
              "data" : "Title"  

            },
            { "title": "{% trans "Date" %}",
              "data" : "Date"
            },
            { "title": "{% trans "Type" %}",
              "data" : "Type"

            }, 
            { "title": "{% trans "Delete" %}",
              "class": "text-center",
              "data" : "delete"

            }, 
        ];
    var dataset = [];
    
    var count = 0
    for (var i in data) {
        var t = {};
        t.DT_RowId = data[i].resourceid;
        t.slno = ++count;
        t.Title = data[i].resourcetitle;
        t.Date = data[i].createddate;
        t.Type = data[i].resourcetype;
        t.delete = "<span class='tts-delete'><i class='fa fa-trash fa-lg'></i></span>";
        dataset.push(t);
    }

    $('#admin-main-tbl').dataTable({"language" : TTS.utils.datatable_ta,
        "data":     dataset,
        "columns":  headers
    });

};

TTS.forms.upload = function(elm) {
    console.log(elm);
    var uploader = new qq.FileUploader({
        action: "/admin/admin-img-upload",
        element: $('#file-uploader')[0],
        multiple: false,
        onComplete: function(id, fileName, responseJSON) {
            if(responseJSON.success) {
                $("#id_image").val(responseJSON.path.replace('static/', ''));
            } else {
                alert("upload failed!");
            }
        },
        onAllComplete: function(uploads) {
            // the maps look like this: {file: FileObject, response: JSONServerResponse}
        },
        params: {
            'csrf_token': '{{ csrf_token }}',
            'csrf_name': 'csrfmiddlewaretoken',
            'csrf_xname': 'X-CSRFToken',
        },
    });
};


$(document).ready(function(){
    TTS.utils.ajaxloaderstart();
    $.ajax({
        "url":"/api/admin/adminresources/?folderid="+TTS.folderid+"&format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.rendermywork(data);
        TTS.utils.ajaxloaderstop();
    });
    $('#admin-main-tbl').on('click', '.tts-delete', function(e){
        e.stopPropagation();
        if (!window.confirm("Do you want to delete this record?")) {
            return false;
        }
        TTS.forms.delmyworks($(this).parent().parent().prop("id"));
        window.location.reload();
    });
    $("#page-wrapper").on("click", "#addrec", function(){
        TTS.forms.showmyworkform();
    });
});

</script>
{% endblock scriptcontent %}