{% extends 'portaladmin/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Schools" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Schools" %} <span id="addrec"><i class="fa fa-plus-square fa-lg"></i></span>
        </div>
        <!-- /.panel-heading --> 
            
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover"
                    id="adminschool-main-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<style>
    #addrec:hover, #adminschool-main-tbl tbody tr:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}

<script id="school-form" type="text/x-jsrender">
{% crispy form %}
</script>
<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
TTS.forms.addschool = function() {
    BootstrapDialog.show({
        title: 'Add School',
        message: $($('#school-form').render()),
        buttons: [{
            label: '{% trans "Save" %}',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                var data = TTS.utils.serilaizeJson("#add-school");
                $.ajax({
                    headers : {
                        'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
                    },
                    type:'POST',
                    data: data,
                    url : '/api/admin/adminschool/'
                }).done(function( msg ) {
                    dialogItself.close();
                    location.reload();
                    //dialogItself.close();
                });
            }
            },{
            label: '{% trans "Close" %}',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};

TTS.forms.editschool = function(id, data) {
    BootstrapDialog.show({
        title: 'Edit School',
        message: $($('#school-form').render()),
        onshown: function(){
            $("#add-school").find("input,select").each(function(){
                $(this).val(data[this['name']]);
            });
        },
        buttons: [{
            label: 'Update',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                var data = TTS.utils.serilaizeJson("#add-school");
                $.ajax({
                    headers : {
                        'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
                    },
                    type:'PUT',
                    data: data,
                    url : '/api/admin/adminschool/'+id
                }).done(function( msg ) {
                    dialogItself.close();
                    location.reload();
                });
            }
            },{
            label: '{% trans "Close" %}',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};

TTS.forms.delschool = function(id) {
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'DELETE',
        url : '/api/admin/adminschool/'+id
    }).done(function( msg ) {
        location.reload();
    }).error(function(msg){
        alert("Something Bad Happended");
    });
}

TTS.forms.renderadminschool = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center" ,
              "data" : "slno"  
            },
            { "title": "{% trans "Name" %}" ,
              "data" : "schoolname"
            },
            { "title": "{% trans "Shortname" %}",
              "data" : "shortname"
            }, 
            { "title": "{% trans "Edit" %}",
              "class": "text-center",
              "data" : "edit" 
            }, 
            { "title": "{% trans "Delete" %}",
              "class": "text-center" ,
              "data" : "delete" 
            }, 
        ];
    var dataset = [];
    
    var count = 0
    for(var i in data){
        var t = [];
        t.DT_RowId = data[i].schoolid;
        t.slno = ++count;
        t.schoolname = data[i].schoolname;
        t.shortname = data[i].shortname;
        t.edit = "<i class='tts-edit fa fa-pencil fa-lg'></i>";
        t.delete = "<i class='tts-delete fa fa-trash fa-lg'></i>";
        dataset.push(t);
    }
    $('#adminschool-main-tbl').dataTable({"language" : TTS.utils.datatable_ta,
        "data":     dataset,
        "columns":  headers
    });

};
$(document).ready(function(){
    TTS.utils.ajaxloaderstart();
     $.ajax({
        "url":"/api/admin/adminschool/?format=json",
        "type":"GET"
    }).done(function(data){
        TTS.utils.ajaxloaderstop();
         if (data.length) {
            TTS.forms.renderadminschool(data);
        } else {
            TTS.forms.table.fnClearTable();
        }
    });
    $('#adminschool-main-tbl').on('click', 'tbody tr', function(){
        window.location = 'classlist?id='+this.id;
    });
    $('#adminschool-main-tbl').on('click', '.tts-edit', function(e){
        e.stopPropagation();
        var id = $(this).parent().parent().prop('id');
        $.ajax({
            url: '/api/admin/adminschool/'+id,
            type: 'GET'
        }).done(function(data){
            TTS.forms.editschool(id,data);
        })
    });

    $('#adminschool-main-tbl').on('click', '.tts-delete', function(e){
        e.stopPropagation();
        if (!window.confirm("Do you want to delete this record?")) {
            return false;
        }
        alert("Record Deleted")
        TTS.forms.delschool($(this).parent().parent().prop("id"));
    });
    $("#page-wrapper").on("click", "#addrec", function(){
        TTS.forms.addschool();
    });
});

</script>
{% endblock scriptcontent %}