{% extends 'portaladmin/base.html' %}
{% load staticfiles %}
{% block topcontent %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Sticky Notes</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
{% endblock topcontent %}
{% block botcontent %}
                <div class="col-lg-12">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <span id="add" class="add">New Sticky Notes</span>
                                <span id="addrec"><i class="fa fa-plus-square fa-lg"></i></span>
                            </div>
                        <!-- /.panel-heading -->
                            <div id="post_it_contaniner">
                                <div class="classAddDemoPostit" id="post_it_all_1">Content of the postit 1</div>
                                <div class="classAddDemoPostit" id="post_it_all_2">Content of the postit 2</div>
                                <div class="classAddDemoPostit" id="post_it_all_3">Content of the postit 3</div>
                                <div class="classAddDemoPostit" id="post_it_all_4">Content of the postit 4</div>
                            </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morescript %}
<script src="{%static "bower_components/PostItAll/plugin/jquery.postitall.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script>
    $(document).ready(function() {
        $('.classAddDemoPostit').each(function(x){
            console.log(x);
            $(this).postitall({
                savable         : true,
                posY : 220*x,
                posX : 50,
                position : 'absolute'
            });
        });
    });

    var json = {
            "post_it_all_1" : "Hai i am first",
            "post_it_all_2" : "Hai i am secound",
            "post_it_all_3" : "Hai i am third",
            "post_it_all_4" : "Hai i am fourth",
    }

    $("#page-wrapper").on("click", "#addrec", function(){
        
        $('#post_it_contaniner').postitall({
            'textcolor'       : '#333333',
            'backgroundcolor' : '#FFFC7F',
            'description'     : 'New created',
            'newPostit'       : true,
        });
    });

</script>
{% endblock scriptcontent %}

{% block morecss %}
<link rel="stylesheet" href="{%static "bower_components/PostItAll/plugin/jquery.postitall.css" %}">
<style>
    #addrec:hover, #admin-main-tbl tbody tr:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}
