{% extends 'portaladmin/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Sticky notes" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="row">
    <div class="form-group" class="col-sm-2">
        <label for="folder_name" class="col-sm-2 control-label">{% trans "Text of the note" %}</label>
    </div><br />
    <div class="form-group">
        <textarea id="title" class="summernote"></textarea>
    </div>
</div><br />
<div align="center">   
    <span>
        <button class="btn btn-primary btn-sm" id="save">
            <i class="fa fa-floppy-o fa-lg"></i> {% trans "Save" %} 
        </button>
        <button class="btn btn-primary btn-sm" id="cancel">
            <i class="fa fa-times fa-lg"></i> {% trans "Cancel" %} 
        </button>
    </span>
</div>
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
{% endblock morecss %}

{% block morescript %}
<script src="{%static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script>
window.TTS = window.TTS || {};
TTS.forms = TTS.forms || {};

TTS.forms.addstickynote = function(data) {
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: data,
        url : '/api/admin/admin/'
    }).done(function(msg) {
        console.log(msg);
        return false;
        location.reload();
    });
}

$(document).ready(function(){
    $('.summernote').summernote({
          toolbar: [
            ['edit',['undo','redo']],
            ['style', ['style']], // no style button
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            //['insert', ['picture', 'link']], // no insert buttons
            //['table', ['table']], // no table button
            //['help', ['help']] //no help button
          ]
    })
    $('#save').click(function(){
        data = {};
        data['summernotedata'] = $("#title").code();
        console.log(data['summernotedata']);
        //TTS.forms.addstickynote(JSON.stringify(data));
    });

    $('.summernote').summernote({
        height: 200,
        onImageUpload: function(files, editor, welEditable) {
            sendFile(files[0], editor, welEditable);
        }
    });

});

function sendFile(file, editor, welEditable) {
    console.log(file);
    console.log(editor);
    console.log(welEditable);
    data = new FormData();
    data.append("file", file);
    console.log(data);
    $.ajax({
        data: data,
        type: "POST",
        url: "",
        cache: false,
        contentType: false,
        processData: false,
        success: function(url) {
            editor.insertImage(welEditable, url);
        }
    });
}

</script>
{% endblock scriptcontent %}