{% extends 'portaladmin/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{% trans "Teacher Resource" %}</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
{% endblock topcontent %}



{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Teacher Resource" %}<span id="addrec"><i class="fa fa-plus-square fa-lg"></i></span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="admin-main-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, #admin-main-tbl tbody tr:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}


{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>

{% endblock morescript %}

{% block scriptcontent %}

<script id="addschool" type="text/x-jsrender">
<form id="newfolderfrm" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="folder_name" class="col-sm-4 control-label">{% trans "School Name" %}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="school_name" id="school_name" 
                placeholder="{% trans "School Name" %}">
        </div>
    </div>
    <div class="form-group">
        <label for="remark" class="col-sm-4 control-label">{% trans "Short Name" %}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="short_name" id="short_name" 
                placeholder="{% trans "Short Name" %}">
        </div>
    </div>
    <div class="form-group">
        <label for="order_no" class="col-sm-4 control-label">{% trans "Description" %}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="description" id="description"
                 placeholder="{% trans "Description" %}">
        </div>
        <div>
            <textarea class="summernote"></textarea>
        </div>
    </div>

</form>
</script>

<script id="editschool" type="text/x-jsrender">
<form id="newfolderfrm" class="form-horizontal" role="form">
    <div class="row">
    <div class="form-group" class="col-sm-8">
        <label for="folder_name" class="col-sm-8 control-label">{% trans "Teacher Resources" %}</label>
    </div>
    </div><br />
    <div class="form-group">
        <label for="order_no" class="col-sm-3 control-label">{% trans "Choose File" %}</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" name="teacher_photo" id="teacher_photo"
                 placeholder="{% trans "Choose File" %}">
        </div>
    </div>
    
    <div class="row">
    <div class="form-group" class="col-sm-2">
        <label for="folder_name" class="col-sm-3 control-label">{% trans "Select Class" %}</label>
        <div class="col-sm-2">
            <select name="classid" class="form-control" id="classid">
                {% for class in classes %}
                <option value="{{class.classid}}">{{class.shortname}}</option>
                {% endfor %}
            </select>
        </div>
        <span>
            <label for="folder_name" class="col-sm-3 control-label">{% trans "Select Section" %}</label>
        </span>
        <span>
            <div class="col-sm-2">
                <select name="school_name" class="form-control" id="school_name">
                    <option value="">A</option>
                    <option value="">B</option>
                    <option value="">C</option>
                </select>
            </div>
        </span>
    </div>
    </div>
    <div class="row">
    <div class="form-group" class="col-sm-2">
        <label for="folder_name" class="col-sm-3 control-label">{% trans "Select Division" %}</label>
        <div class="col-sm-2">
            <select name="school_name" class="form-control" id="school_name">
                <option value="">A</option>
                <option value="">B</option>
                <option value="">C</option>
            </select>
        </div>
        <span>
            <label for="folder_name" class="col-sm-3 control-label">{% trans "Select Part" %}</label>
        </span>
        <span>
            <div class="col-sm-2">
                <select name="chapterid" class="form-control" id="chapterid">
                    {% for chapters in chapter %}
                    <option value="{{chapters.chapterid}}">{{chapters.chaptername}}</option>
                    {% endfor %}
                </select>
            </div>
        </span>
    </div>
    </div>    

    <div class="row">
    <div class="form-group" class="col-sm-2">
        <label for="folder_name" class="col-sm-2 control-label">{% trans "Heading" %}</label>
    </div>
    </div>
    <div>
        <textarea class="summernote"></textarea>
    </div>
    </div>
</form>
</script>


<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
/*TTS.forms.addschool = function() {
    BootstrapDialog.show({
        title: 'Add TeacherResource',
        message: $($('#addschool').render()),
        onshown: function(dialogRef){
            alert("Hello");
        },
        buttons: [{
            label: 'Save',
            cssClass: 'btn-primary',
            onshown: function(dialogRef){
                $('.summernote').summernote();
            },
            action: function(){
                var data = TTS.utils.serilaizeJson("#newfolderfrm");
                $.ajax({
                    type:'POST',
                    data: {'data':data},
                    url : '/api/admin/addfolder'
                }).done(function( msg ) {
                    console.log(msg);
                    //dialogItself.close();
                });
            }
            },{
            label: 'Cancel',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};*/

TTS.forms.editschool = function() {
    BootstrapDialog.show({
        title: 'Add TeacherResource',
        onshown: function(dialogRef){
            $('.summernote').summernote();
        },
        message: $($('#editschool').render()),
        buttons: [{
            label: 'Save',
            cssClass: 'btn-primary',
            action: function(){
                var data = TTS.utils.serilaizeJson("#newfolderfrm");
                $.ajax({
                    type:'POST',
                    data: {'data':data},
                    url : '/api/admin/addfolder'
                }).done(function( msg ) {
                    console.log(msg);
                    //dialogItself.close();
                });
            }
            },{
            label: 'Cancel',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};
TTS.forms.renderteacherresourceinfo = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center"  
            },
            { "title": "{% trans "Title" %}"},
            { "title": "{% trans "Date" %}" },
            { "title": "{% trans "Type" %}"}, 
            { "title": "{% trans "Delete" %}",
              "class": "text-center"  
            }, 
        ];
    var dataset = [];
    var count = 0
    for(var i in data){
        var t = [];
        t.push(++count);
        t.push(data[i].resourcetitle);
        t.push(data[i].createddate);
        t.push(data[i].resourcetype);
        t.push("<i class='fa fa-trash fa-lg'></i>");
        dataset.push(t);
    }

    $('#admin-main-tbl').dataTable({
        "data":     dataset,
        "columns":  headers
    });

};
$(document).ready(function(){
    $.ajax({
        "url":"/api/admin/teacherresourcesinfo/?format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.renderteacherresourceinfo(data);
    });
    $('#admin-main-tbl tbody').on('click', 'tr', function(){
        window.location = 'teacherresourcelist?id='+this.id;
    });
    $('#admin-main-tbl tbody tr').on('click', '.tts-edit', function(e){
        e.stopPropagation();
        TTS.forms.editschool();
    });
    $('#admin-main-tbl tbody tr').on('click', '.tts-delete', function(e){
        e.stopPropagation();
        if (!window.confirm("Do you want to delete this record?")) {
            return false;
        }
        alert("Record Deleted")
        window.location = 'schoollist';
    });
    $("#page-wrapper").on("click", "#addrec", function(){
        TTS.forms.editschool();
    });
});

</script>

{% endblock scriptcontent %}