{% extends 'portaladmin/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Forum" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}

{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Forum" %} &nbsp; <span id="addrec">
                <i class="fa fa-plus-square fa-lg"></i></span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <!--<center> <h4><div id="headermsg"></div></h4></center> -->
                <table class="table table-striped table-bordered table-hover" 
                    id="viewforum-main-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<link href="{%static "ajaxuploader/css/fileuploader.css" %}" rel="stylesheet">
<style>
    #addrec:hover, #viewforum-main-tbl tbody tr:hover, .tts-delete:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}

<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}

TTS.forms.addviewfourm = function(form, data) {
    $.ajax({
        headers : {
            'X-CSRFToken' : JSON.parse(data).csrfmiddlewaretoken
        },
        type:'POST',
        data: data,
        url : '/api/admin/topicinfo/'
    }).done(function( msg ) {
     //   console.log(data)
        form.close();
        location.reload();
        //dialogItself.close();
    });
}
TTS.forms.showviewfourm = function() {
    BootstrapDialog.show({
        title: 'Forum',
        message: $($('#topic-form').render()),
        onshown: function(){
            $('.summernote').summernote({
          toolbar: [
            ['edit',['undo','redo']],
            ['style', ['style']], // no style button
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            //['insert', ['picture', 'link']], // no insert buttons
            //['table', ['table']], // no table button
            //['help', ['help']] //no help button
          ]
    });
        },
        buttons: [{
            label: '{% trans "Save" %}',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                var data = TTS.utils.serilaizeJson("#newtopic-forum");
                data = JSON.parse(data);
                data['forumid'] = TTS.utils.getUrlParameter("forumid");
                data['forumname'] = TTS.utils.getUrlParameter("forumname");
                TTS.forms.addviewfourm(dialogItself, data); 
            }
            },{
            label: '{% trans "Close" %}',
            action: function(dlg){
                dlg.close();
            }
        }]
    });
};

TTS.forms.deltopic = function(id) {
      var myString = id;
        var arr = myString.split('/');
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'DELETE',
        url : '/api/admin/topicinfo/'+arr[1]
    }).done(function( msg ) {
        location.reload();
    }).error(function(msg){
        alert("Something Bad Happended");
    });
}

TTS.forms.renderviewfourminfo = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center" ,
              "data" : "slno",
              "bSortable":false 
            },
            { "title": "{% trans "Topics" %}",
              "data" : "topicname" ,
              "class": "viewtopicname" 
            },
            { "title": "{% trans "Topic details" %}",
              "data" : "topicdetails" ,
              "class": "topicdetails" 
            },
            { "title": "{% trans "Total Comments" %}",
              "data" : "totalpost"  
            },
            { "title": "{% trans "Last author" %}",
              "class": "text-center" ,
              "data" : "lastpostedby"  
            },
            { "title": "{% trans "Delete" %}",
              "class": "text-center",
              "data" : "del",
              "bSortable":false
            },
            
        ];
    var dataset = [];
    var count = 0
    for(var i in data){
        //console.log(TTS.utils.getUrlParameter("lastpostedby"));
        var t = {};
        t.DT_RowId = data[i].forumid+'/'+data[i].topicid;
        t.slno = ++count;
        t.topicname = data[i].topicname;
        t.totalpost = data[i].tot_comment;
        t.topicdetails = data[i].topicdetails;
        t.lastpostedby = data[i].username;
        t.del = "<span class='tts-delete'><i class='fa fa-trash fa-lg'></i></span>";
        dataset.push(t);
    }
    $('#viewforum-main-tbl').dataTable({"language" : TTS.utils.datatable_ta,
        "data":     dataset,
        "columns":  headers
    });

};

$(document).ready(function(){
    $.ajax({
        "url":"/api/admin/topicinfo/?format=json",
        "type":"GET"
    }).done(function(data){
        if (data.length) {
            TTS.forms.renderviewfourminfo(data);
            $("table#viewforum-main-tbl thead tr th").removeClass('sorting_asc');
        } 
        
    });
    var dataname = TTS.utils.getUrlParameter("forumname");
    $("#headermsg").html(dataname);

     $('#viewforum-main-tbl').on('click', '.tts-delete', function(e){
        e.stopPropagation();
        if (!window.confirm("Do you want to delete this record?")) {
            return false;
        }
        TTS.forms.deltopic($(this).parent().parent().prop("id"));
    });

    $('#viewforum-main-tbl').on('click', 'tbody tr', function(){
        var myString = this.id;
        var arr = myString.split('/');

        window.location ='viewpost?topicid='+arr[1];
        //console.log(this.id);
    });

    $("#wrapper").on("click", "#addrec", function(){
        window.location ='newtopic'
    });

    $("#page-wrapper").on("click", "#addrec", function(){
        //TTS.forms.showviewfourm();
    });
   
});

</script>

{% endblock scriptcontent %}
