{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Submission" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class='col-lg-5'>    
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label>{% trans "From Date" %}: </label>
                        </div>    
                        <div class="col-lg-7" id='fromdate'>
                            <div class='input-group'>
                                <input readonly="" type='text' class="form-control" data-date-format="YYYY-MM-DD"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-lg-5'>    
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label>{% trans "To Date" %}: </label>
                        </div>
                        <div class="col-lg-7" id='tilldate'>
                            <div class='input-group'>
                                <input readonly="" type='text' class="form-control" data-date-format="YYYY-MM-DD"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class='col-lg-2'>
                    <div class="form-group">
                        <button class="btn btn-success" id="date-search" type="button">{% trans "Search" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover resourcelist" id="resource-list">
            </table>
        </div>
    </div>
    <!-- /.panel -->
</div>
 <!-- /.col-lg-12 -->
{% endblock botcontent%}
{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
%}">

<!--link rel="stylesheet" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css"-->
<style>
    .resourcelist tbody tr:hover{
        cursor: pointer;
    }    
</style>
{% endblock morecss %}


{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}">

</script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>

<!--script src="{%static "bower_components/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js" %}"></script>
<script src="{%static "bower_components/bootstrap-datetimepicker/src/js/locales/bootstrap-datetimepicker.es.js" %}"></script-->
<script src="{% static "js/tts.utils.js" %}"></script>
<script>
    $('#fromdate,#tilldate').datetimepicker({
        pickTime: false
    });
</script>

<script>
    window.TTS = window.TTS || {}
    TTS.forms = TTS.forms || {}   

    TTS.forms.assignedstudentresource = function(data){
        var headers = [
                { "title": "{% trans "Sl No." %}",
                  "class": "text-center" ,
                  "data" :"slno",
                  "bSortable":false
                },
                { "title": "{% trans "Title" %}",
                  "data" :"title"
                },
                { "title": "{% trans "Date" %}",
                  "data" :"date"
                },
                { "title": "{% trans "Type" %}" ,
                  "data" :"type"
                },
            ];
        var dataset = [];
        var count = 0
        for(var i in data){
            var t = [];
            t.DT_RowId = data[i].resourceid;
            t.slno=++count;
            t.title=data[i].resourcetitle;
            t.date=data[i].createddate;
            t.type=data[i].resourcetype;
            dataset.push(t);
        }

    if(TTS.forms.tablerl){
       TTS.forms.tablerl.fnClearTable();
       TTS.forms.tablerl.fnAddData(
            dataset
        );
    }else{
        TTS.forms.tablerl = $('#resource-list').dataTable({"language" : TTS.utils.datatable_ta,
            "data":     dataset,
            "columns":  headers
        });
    }
};

$(document).ready(function(){
    TTS.utils.ajaxloaderstart();

    $.ajax({
        "url":"/api/admin/teacherassignedresource/?format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.assignedstudentresource(data);
        $("table#resource-list thead tr th").removeClass('sorting_asc');
        TTS.utils.ajaxloaderstop();
    });
    $('.resourcelist').on('click','tbody tr',function(e){
        e.stopPropagation();
        window.location = 'viewassignresource?resourceid='+this.id;
    });
    /*$('#fromdatepicker').datetimepicker({
        pickTime: true
    });
    $('#todatepicker').datetimepicker({
        pickTime: true
    });
    $("#fromdatepicker").on("dp.change",function (e) {
       $('#todatepicker').data("DateTimePicker").setMinDate(e.date);
    });
    $("#todatepicker").on("dp.change",function (e) {
       $('#fromdatepicker').data("DateTimePicker").setMaxDate(e.date);
    });*/

    $('#date-search').click(function(){
        //alert($("#fromdatepicker input").val());
        var fromdate = $("#fromdatepicker").val();
        var todate = $("#todatepicker").val();
        $.ajax({
            "url":"/api/admin/teacherassignedresource/?fdate="+fromdate+"&tdate="+todate+"&format=json",
            "type":"GET"
        }).done(function(data){
            TTS.forms.assignedstudentresource(data);
        });
    });
    
});

</script>
{% endblock morescript %}