<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load i18n %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{%static "css/plugins/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{%static "css/plugins/timeline.css" %}" rel="stylesheet">
    {% block morecss %}{% endblock %}
    <!-- Custom CSS -->
    <link href="{%static "css/sb-admin-2.css" %}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{%static "css/sb-admin-10t.css" %}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="{%static "css/plugins/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{%static "bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" id="top-header" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="../logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
                <li><a href='../togglelanguage'><i class="fa fa-language fa-lg"></i> <i class="fa fa-caret-down"></i></a></li>
                <li><a href='../logout/'><i class="fa fa-sign-out fa-lg"></i></a></li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="active" href='home'>
                                <i class="fa fa-home fa-lg"></i>{% trans "Home" %}
                             </a>
                        </li>
                        <li>
                            <a class="active" href="billboard">
                                <i class="fa fa-building fa-fw"></i>{% trans "Billboard" %}
                            </a>
                        </li>
                        <li>
                            <a class="active" href="../forum">
                                <i class="fa fa-building fa-fw"></i>{% trans "Forum" %}
                            </a>
                        </li>
                        
                        <li>
                            <a class="active" href="adminlist">
                                <i class="fa fa-group fa-fw"></i>{% trans "Administrators" %}
                            </a>
                        </li>
                        <li>
                            <a class="active" href="teacherslist">
                                <i class="fa fa-female fa-fw"></i>{% trans "Teachers" %}
                            </a>
                        </li>
                        <li>
                            <a class="active" href="studentslist">
                                <i class="fa fa-user fa-fw"></i>{% trans "Students" %}
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                <i class="fa fa-book fa-fw"></i>{% trans "Resources" %}
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="resources">{% trans "Teachers" %} {% trans "Resources" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="studentresources">{% trans "Students" %} {% trans "Resources" %}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="active" href="statistics">
                                <i class="fa fa-bar-chart fa-fw"></i>{% trans "Statistics" %}
                            </a>
                        </li>
                        <li>
                            <a class="active" href="classroom">
                                <i class="fa fa-building fa-fw"></i>{% trans "Classrooms" %}
                            </a>
                        </li>
                        <li>
                            <a class="active" href="myprofile">
                                <i class="fa fa-user fa-fw"></i>{% trans "About me" %}
                            </a>
                        </li>
                        <li>
                            <a class="active" href="rubrics">
                                <i class="fa fa-building fa-fw"></i>{% trans "Rubrics table" %}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        {% block topcontent %}{% endblock %}
        {% block botcontent %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->    
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{%static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static "js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%static "js/plugins/metisMenu/metisMenu.js" %}"></script>
    {% block morescript %}{% endblock %}
    <!-- Custom Theme JavaScript -->
    <script src="{%static "js/sb-admin-2.js" %}"></script>
    {% block scriptcontent %}{% endblock %} 
</body>

</html>