{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Teachers" %} {% trans "Resources" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}

{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Teachers" %} {% trans "Resources" %} &nbsp;
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" 
                    id="studetresource-main-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, .tts-delete:hover, #studetresource-main-tbl tbody tr:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}


{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}


<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
TTS.categoryid = TTS.utils.getUrlParameter('categoryid');
TTS.chapterid = TTS.utils.getUrlParameter('chapterid');
TTS.classid = TTS.utils.getUrlParameter('classid');
TTS.section = TTS.utils.getUrlParameter('section');
TTS.forms.addstudentresource = function() {
    BootstrapDialog.show({
        title: 'Student Resources',
        onshown: function(dialogRef){
            updateChapter();
            $('.summernote').summernote({
          toolbar: [
            ['edit',['undo','redo']],
            ['style', ['style']], // no style button
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            //['insert', ['picture', 'link']], // no insert buttons
            //['table', ['table']], // no table button
            //['help', ['help']] //no help button
          ]
    });
        },
        message: $($('#studentresource-form').render()),
        buttons: [{
            label: '{% trans "Save" %}',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                var data = TTS.utils.serilaizeJson("#add-studentresource");
                console.log(data);
                $.ajax({
                    headers : {
                        'X-CSRFToken' : JSON.parse(data).csrfmiddlewaretoken
                    },
                    type:'POST',
                    data: data,
                    url : '/api/admin/resourceinfo/'
                }).done(function( msg ) {
                    //console.log(msg);
                    dialogItself.close();
                    location.reload();
                });

            }
            },{
            label: '{% trans "Close" %}',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};
TTS.forms.renderteacherresourceinfo = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center",
              "data":"slno",
              "bSortable":false    
            },
            { "title": "{% trans "Title" %}",
              "data" :"title"
            },
            { "title": "{% trans "Date" %}",
              "data":"date"
            },
           
        ];
    var dataset = [];
    var count = 0
    for(var i in data){
        var t = {};
        t.DT_RowId = data[i].teacherresourceid;
        t.slno=++count;
        t.title=data[i].resourcetitle;
        t.date=TTS.utils.datetimeConv(data[i].createddate);
        dataset.push(t);
    }

    $('#studetresource-main-tbl').dataTable({"language" : TTS.utils.datatable_ta,
        "data":     dataset,
        "columns":  headers
    });

};

var updateChapter = function(){
    $.ajax({
        'url': "/api/admin/chapterinfo/?classid="+$("#id_classid").val()
                +"&sectionid="+$("#id_section").val(),
                
        'type':'GET'
    }).done(function(data){
        //console.log(data)
        opt = "";
        for (d in data){
            opt += "<option value='"+data[d].chapterid+"'>"+data[d].chaptername+"</option>\n";
        }
        $("#id_chapterid").html(opt);

    });
};

$(document).ready(function(){
    TTS.utils.ajaxloaderstart();
    $.ajax({
        "url":"/api/admin/teacherresourcesinfo/?resourcecategory="+TTS.categoryid+"&chapterid="+TTS.chapterid+"&classid="+TTS.classid+"&section="+TTS.section+"&format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.renderteacherresourceinfo(data);
        $("table#studetresource-main-tbl thead tr th").removeClass('sorting_asc');
        TTS.utils.ajaxloaderstop();

    });
    $('#studetresource-main-tbl').on('click', 'tbody tr',function(e){
        e.stopPropagation();
        //console.log("Hello");
        window.location = 'viewresourcelist?categoryid=1&chapterid='+this.id+'&classid='+TTS.classid+'&section='+TTS.classid+'&resourceid='+this.id;
    });
    $("#page-wrapper").on("click", "#addrec", function(){
        TTS.forms.addstudentresource();
    });
    
});

</script>

{% endblock scriptcontent %}