{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div id="page-wrapper">
<div class="row">
    <div class="form-group" class="col-sm-3">
        <div class="col-sm-1">
           
        </div>
    </div>
</div>

{% endblock topcontent %}
{% block botcontent %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Rupriks" %} 
        </div>
        <!-- /.panel-heading -->
        <div class="gentable" id ="rub_mtx_head rub_mtx_rows">
            {% crispy form %}
        </div>
        <table class="form-horizontal">
            <tr>
                <td>&nbsp;&nbsp;Column</td><td><input type ="text" id="r-row"></td>
                 <td> &nbsp;&nbsp;Paragraph</td><td><input type ="text"id="r-col"></td>
                 <td id ="">&nbsp;&nbsp;<button class ="btn btn-primary " id = "createTable">Create</button></td>
                 <td>&nbsp;&nbsp;<button class ="btn btn-primary">Excel Import</button></td>

            </tr>
        </table>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, .tts-edit:hover, .tts-delete:hover, #admin-main-tbl tbody tr:hover {
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}">

</script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script id="rubrics-form" type="text/x-jsrender">

</script>


<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}

$(document).ready(function(){
    $('.summernote').summernote();
    $('#createTable').on('click',function(){
        alert("hi");
    var rows = parseInt($('#r-row').val());
    var cols = parseInt($('#r-col').val());
    var tabelms = "<div style='text-align:center'><input type='button' value='Add a row before' onclick='add_row(0)' /><input type='button' value='Add a row after' onclick='add_row(1)'/><input type='button' value='Add a col before' onclick='add_col(0)' /><input type='button' value='Add a col after' onclick='add_col(1)' /><input type='button' value='Delete a row' onclick='del_row()' /><input type='button' value='Delete a column' onclick='del_col()' /></div>";
    tabelms += "<table style='width:90%' id='gentable' align='center'>";

     });
});

</script>
{% endblock scriptcontent %}