{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div id="page-wrapper">
<div class="row">
    <div class="form-group" class="col-sm-3">
        <div class="col-sm-1">
           
        </div>
    </div>
</div>

{% endblock topcontent %}
{% block botcontent %}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Rupriks" %} 
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" id ="addrec">
            <div class="table-responsive">
                <div  id ="editschool">
                    <form id="rubric-main-tbl" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="order_no" class="col-sm-2 control-label">{% trans "Title" %}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="user_name" id="user_name"
                                     placeholder="{% trans "Title" %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="order_no" class="col-sm-2 control-label">{% trans "User Name" %}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="user_name" id="user_name"
                                     placeholder="{% trans "User Name" %}">
                            </div>
                        </div>
                        <div>
                            <textarea class="summernote"></textarea>
                        </div><br /><br />
                    </form>
                </div>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, .tts-edit:hover, .tts-delete:hover, #admin-main-tbl tbody tr:hover {
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}">

</script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}



<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
TTS.forms.editschool = function() {
    BootstrapDialog.show({
        title: 'Add TeacherResource',
        onshown: function(dialogRef){
            $('.summernote').summernote();
        },
        message: $($('#editschool').render()),
        buttons: [{
            label: 'Save',
            cssClass: 'btn-primary',
            action: function(){
                var data = TTS.utils.serilaizeJson("#newfolderfrm");
                $.ajax({
                    type:'POST',
                    data: {'data':data},
                    url : '/api/admin/addfolder'
                }).done(function( msg ) {
                    console.log(msg);
                    //dialogItself.close();
                });
            }
            },{
            label: 'Cancel',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};





$(document).ready(function(){

    $('#admin-main-tbl').on('click', 'tbody tr', function(){
       // window.location = 'studentprofile?studentid='+this.id;
    });
 
    $("#page-wrapper").on("click", "#addrec", function(){
        TTS.forms.editschool();
    });
});

</script>
{% endblock scriptcontent %}