{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Students" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="form-group" class="col-sm-3">
        <label for="folder_name" class="col-sm-2 control-label">{% trans "Schools" %}
        </label>
        <div class="col-sm-4">
            <select name="school_name" class="form-control" id="school_name">
                {% for school in schools %}
                <option value="{{school.schoolid}}">{{school.schoolname}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group" class="col-sm-3">
        <label for="folder_name" class="col-sm-2 control-label">{% trans "Class" %}</label>
        <div class="col-sm-2">
            <select name="classid" class="form-control" id="classid">
                {% for class in classes %}
                <option value="{{class.classid}}">{{class.shortname}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Students" %} {% trans "List" %}
            
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="student-main-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<style>
    #addrec:hover, .tts-edit:hover, .tts-delete:hover, #student-main-tbl tbody tr:hover {
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>

{% endblock morescript %}

{% block scriptcontent %}

<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
TTS.forms.renderstudentlist = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center",
              "data" : "slno"  
            },
            { "title": "{% trans "Photo" %}",
              "class": "text-center",  
              "data" : "image"  
            },
            { "title": "{% trans "Name" %}",
              "data" : "name"  
            },
            { "title": "{% trans "Email Id" %}",
              "data" : "emailid"  
            }, 
            
        ];
    var dataset = [];
    
    var count = 0
    for(var i in data){
        var t = [];
        t.DT_RowId = data[i].username;
        t.slno = ++count;
       if (data[i].imageurl){
            t.image = "<img src='/static/"+data[i].imageurl+"' width='100' height='100'>";
        } else {
            t.image = "<img src='http://placehold.it/100x100'>";
        }
        t.name = data[i].firstname + " "+data[i].lastname;
        t.emailid = data[i].emailid;
       
        dataset.push(t);
    }
    if (TTS.forms.table) {
        TTS.forms.table.fnClearTable();
        TTS.forms.table.fnAddData(
            dataset
        );
        return true;
    }
    TTS.forms.table = $('#student-main-tbl').dataTable({"language" : TTS.utils.datatable_ta,
        "data":     dataset,
        "columns":  headers
    });

};


$(document).ready(function(){
    var url = "/api/admin/student/?schoolid="+$("#school_name").val()+"&classid="+$("#classid").val()+"&format=json";
    TTS.utils.ajaxloaderstart();
    $.ajax({
        "url":url,
        "type":"GET"
    }).done(function(data){
        if (data.length) {
            TTS.forms.renderstudentlist(data);
        } else {
            TTS.forms.table.fnClearTable();
        }
        TTS.utils.ajaxloaderstop();
    });

    $("#school_name").change(function(){
        TTS.utils.ajaxloaderstart();
        $.ajax({
            "url":"/api/admin/student/?schoolid="+$("#school_name").val()+"&classid="+$("#classid").val()+"&format=json",
            "type":"GET"
        }).done(function(data){
            if (data.length) {
                TTS.forms.renderstudentlist(data);
            } else {
                TTS.forms.table.fnClearTable();
            }
            TTS.utils.ajaxloaderstop();
        });
    })

    $("#classid").change(function(){
        TTS.utils.ajaxloaderstart();
        $.ajax({
            "url":"/api/admin/student/?schoolid="+$("#school_name").val()+"&classid="+$("#classid").val()+"&format=json",
            "type":"GET"
        }).done(function(data){
            if (data.length) {
                TTS.forms.renderstudentlist(data);
            } else {
                TTS.forms.table.fnClearTable();
            }
            TTS.utils.ajaxloaderstop();
        });
    })
      
});

$('#student-main-tbl').on('click', 'tbody tr', function(){
    window.location = 'studentprofile?studentid='+this.id;
});

</script>
{% endblock scriptcontent %}