{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Mindmap" %}</h2>
    </div>
</div>
{% endblock topcontent %}

{% block morescript %}
<script src="{%static "bower_components/jquery-ui/jquery-ui.min.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{%static "bower_components/raphael/raphael.js" %}"></script>
<script src="{%static "bower_components/buzzmap/buzzmap.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
<script id="admin-form" type="text/x-jsrender">
    <textarea id="summernote"></textarea>
</script>
{% endblock morescript %}

{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
               <!-- /.panel-heading -->
        <div class="panel-body">
            
                <table class="table table-striped table-bordered table-hover"
                     id="admin-main-tbl">
                <div class="row"> 
                    <div class="col-md-12"><h4><strong>{% trans "Title" %}:</h4></strong></div>
                </div>
                <div class="row"> 
                    <div class="col-md-12" id="mindmap-title"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <code>
                          Double Click to edit &amp; add a new node.
                          Single Click to collapse/hide or select a node
                        </code>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-12" id="container"></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><h4><strong>{% trans "Note" %}:</strong></h4></div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="mindmap-note"></div>
                </div>
                <div class="row"> 
                    <div class="col-md-12"><h4><strong>{% trans "Answer" %}:</strong></h4></div>
                </div> 
                <div class="row">
                    <div class="col-md-12" id="answertext"></div>
                </div>
                <div class="row"> 
                    <div class="col-md-12"><h4><strong>{% trans "Comment" %}:</strong></h4></div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="comment" class="summernote"></textarea>
                    </div>
                </div>
                <div class="row"><br />
                    <div class="col-md-12">
                        <button class="btn btn-success btn-sm" id="res-send"><i class="fa fa-share fa-lg"></i> {% trans "Send" %}</button>
                    </div>
                </div>
                </table>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<link rel="stylesheet" href="{%static "bower_components/buzzmap/styles.css" %}" />
<style>
    #addrec:hover, #admin-main-tbl tbody tr:hover{
        cursor: pointer;
    }
    .note-editable{
        height: 80px;
    }
    section.recorder-container{
        display: none;
    }
    table#rubrics-table thead tr th,
    table#rubrics-table tfoot tr td{
        text-align: center;
        height: 45px;
        background-color: #337ab7;
        color: #ffffff;
        font-weight: bold;
    }
    table#rubrics-table tbody tr td:nth-child(1) { 
        background-color: #d3d3d3;
        font-weight: bold;
    }    
    input#ttls{
        color:#000;
    } 
    #container {
        min-height: 250px;
    }
</style>
{% endblock morecss %}

{% block scriptcontent %}
<script>
window.TTS = window.TTS || {};
TTS.global = TTS.global || {}; 
TTS.forms = TTS.forms || {}; 

var mindmapid = TTS.utils.getUrlParameter('mindmapid');

TTS.forms.renderassignedmindmapinfo = function(data){
    $("#mindmap-title").html(data[0].title);
    $("#mindmap-note").html(data[0].assigntext);
    $("#answertext").html(data[0].answertext);
    $("#comment").code(data[0].comment);
    TTS.global.buzzmapdoc = $('#container').buzzmap({
        structure: data[0].mapdata,
        editable: true
    });
};


TTS.forms.ressave = function(){
    var data = {};
    var assignedid   = TTS.utils.getUrlParameter('assignedid');
    data.comment     = TTS.utils.summer_encode($(".summernote").code());
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        url:"/api/admin/teacherassignedmindmap/"+assignedid+"/",
        type:"PUT",
        data: data
    }).done(function(data){
        window.location = 'assignedmindmaplist';
    }).error(function(err, msg){
        alert("I didnt save the data");
    });
}
TTS.forms.mindmap = function(node){
    return false;
   /*BootstrapDialog.show({
        title: '{% trans "Add MindMap" %}',
        message: $($('#admin-form').render()),
        onshown: function(){
          $('#summernote').val(node.label()).summernote();
        },
        buttons: [{
            label: '{% trans "Update Text" %}',
            cssClass: 'btn-primary',
            action: function(dialogItself){
              node.label("<span>"+$('#summernote').code()+"<span>");
              dialogItself.close();   
            }},
            {
            label: '{% trans "Add New Node" %}',
            action: function(dialogItself){
                var newnode = node.obj.addNode(node);
                newnode.label("<span>Untitled Node</span>");
                //alert("Adding a new Node");
                dialogItself.close();
            }},
            {
            label: '{% trans "Delete Node" %}',
            action: function(dialogItself){
                if(!node.obj.parent){;
                  alert("Root cannot be deleted");
                  dialogItself.close();
                  return null;
                };
                node.removeNode();
                node.obj.animate();
                dialogItself.close();
            }},
            {
            label: '{% trans "Close" %}',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });*/
};
$(document).ready(function(){
    $('.summernote').summernote();

    var assignedid = TTS.utils.getUrlParameter('assignedid');

    $("#res-send").click(function(){
        TTS.forms.ressave();
    });
    $.ajax({
        "url":"/api/admin/teacherassignedmindmap/?assignedid="+assignedid+"&format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.renderassignedmindmapinfo(data);
    });

});
</script>
{% endblock scriptcontent %}