{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Forum" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}

{% block botcontent %}
<div class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Title" %} 
            <span id="topic_header" ></span>
            <span id="topic_header_posteddate" ></span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="topic_posteddate" ></div>
            <div id="topic_details" ></div>
            <div class="pull-right">
                <input type="button" id="main_thread_reply" class="btn btn-primary" value="Reply to thread" />
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<div class="row reply_textarea">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Title" %} Main thread Reply
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="form-group col-sm-12">
                <div class="controls col-sm-12">
                    <textarea id="thread_reply_textarea" placeholder="Thread reply" rows="6" id="detail_content" class="textinput textInput form-control"></textarea> 
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="controls col-sm-11">
                </div>
                <div class="controls col-sm-1">
                    <button class="btn btn-primary center-block" id="save_main_thread_reply">Save</button>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
{% for x in '123' %}
<div class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Reply" %}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="forum">
            <li>
            <img src="http://placehold.it/50x50">
            I dont agree
            <div class="pull-right">
            <input type="button" class="btn btn-primary reply_comment" name="{{x|add:"10"}}" alt="{{x}}" value="Reply to comment" />
            </div>
                <ul>
                    <li>
                        <img src="http://placehold.it/50x50"> Why so? I still believe MS can do something on IE
                        <div class="pull-right">
                            <input type="button" class="btn btn-primary reply_comment" name="{{x|add:"20"}}" alt="{{x}}" value="Reply to comment" />
                        </div>
                    </li>
                    <ul>
                        <li>
                            <img src="http://placehold.it/50x50"> Why so? I still believe MS can do something on IE
                            <div class="pull-right">
                                <input type="button" class="btn btn-primary reply_comment" name="{{x|add:"30"}}" alt="{{x}}" value="Reply to comment" />
                            </div>
                        </li>
                    </ul>
                    <li>
                        <img src="http://placehold.it/50x50"> For the last 10 year, they diversed from standard. Now they are paying the price
                        <div class="pull-right">
                            <input type="button" class="btn btn-primary reply_comment" name="{{x|add:"40"}}" alt="{{x}}" value="Reply to comment" />
                        </div>
                    </li>
                </ul>
            </li>
            </ul>
            
        </div>
        
        <div class="hide_comment comment_text_area_{{x}} form-group panel-body">
            <div class="form-group col-sm-12">
                <div class="controls col-sm-12">
                    <textarea id="comment_reply_textarea_{{x}}" placeholder="Comment reply" rows="6" id="detail_content" class="textinput textInput form-control"></textarea> 
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="controls col-sm-11">
                </div>
                <div class="controls col-sm-1">
                    <button class="save_comment_reply btn btn-primary center-block" alt="{{x}}" id="save_comment_reply">Save</button>
                </div>
        </div>
        
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
{% endfor %}

{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<link href="{%static "ajaxuploader/css/fileuploader.css" %}" rel="stylesheet">
<style>
    #addrec:hover, #forum-reply-tbl tbody tr:hover, .tts-delete:hover{
        cursor: pointer;
    }

    .reply_textarea, .hide_comment{
        display:none;
    }

</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}


<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}

TTS.forms.renderviewforum = function(data){
    var dataset = [];
    var t = {};
    $("#topic_header").html(data[0].topicname);
    $("#topic_header_posteddate").html("On "+data[0].topic_createddate);
    $("#topic_details").html(data[0].topicdetails);
    $("#topic_posteddate").html("On "+data[0].parent_posteddate);
    for(var i in data){
        /*t.postdetails = data[i].postdetails;
        t.firstname = data[i].firstname;
        t.posteddate = data[i].posteddate;
        t.reply = "<i class='tts-reply fa fa-reply fa-lg'></i>";
        t.view = "<i class='fa fa-plus-square fa-lg'></i>";
        t.delete = "<i class='tts-delete fa fa-trash fa-lg'></i>";*/
    }
    //dataset.push(t);
};


$(document).ready(function(){
   
    $.ajax({
        "url":"/api/admin/postinfo/?topicid="+TTS.utils.getUrlParameter("topicid")+"&format=json",
        "type":"GET"
    }).done(function(data){
        if (data.length) {
            TTS.forms.renderviewforum(data);
        } else {
            //TTS.forms.table.fnClearTable();
        }
    }); 
});
  
$(".reply_comment").click(function (){
    var id = $(this).attr("alt");
    var name = $(this).attr("name");
    $(".comment_text_area_"+id).toggle("slow");
    $("#comment_reply_textarea_"+id).attr("name",name)
});

$(".save_comment_reply").click(function (){
    var id = $(this).attr("alt");
    var jsondata ={
            postdetails : $("#comment_reply_textarea_"+id).val(),
            topicid : TTS.utils.getUrlParameter("topicid"),
            forumid : TTS.utils.getUrlParameter("forumid"),
            parentid :$("#comment_reply_textarea_"+id).attr("name")
        };
   $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: JSON.stringify(jsondata),
        url : '/api/admin/postinfo/'
    }).done(function( msg ) {
        location.reload();
    });

});

$("#main_thread_reply").click(function (){
    $(".reply_textarea").toggle("slow");
});

$("#save_main_thread_reply").click(function (){
   var jsondata ={
            postdetails : $("#thread_reply_textarea").val(),
            topicid : TTS.utils.getUrlParameter("topicid"),
            forumid : TTS.utils.getUrlParameter("forumid"),
            parentid :0
        };
   $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: JSON.stringify(jsondata),
        url : '/api/admin/postinfo/'
    }).done(function( msg ) {
        location.reload();
    });
});
</script>

{% endblock scriptcontent %}
