{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Forum" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}

{% block botcontent %}
<div class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Title" %} 
            <span id="topic_header" ></span>
            <span id="topic_header_posteddate" ></span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="topic_posteddate" ></div>
            <div id="topic_details" ></div>
            <div class="pull-right">
                <input type="button" id="main_thread_reply" class="btn btn-primary" value="Reply to thread" />
            </div>
        </div>
        <div id="comments">
        </div>
        <div id="comments">
        </div>
    <!-- /.panel -->
</div>
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<link href="{%static "ajaxuploader/css/fileuploader.css" %}" rel="stylesheet">
<style>
    #addrec:hover, #forum-reply-tbl tbody tr:hover, .tts-delete:hover{
        cursor: pointer;
    }

    .reply_textarea, .hide_comment{
        display:none;
    }

    .reply_comment{
       cursor:pointer;
    }

</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}


<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}

TTS.forms.renderviewforum = function(data){
    $("#topic_header").html(data['topicname']);
    $("#topic_header_posteddate").html(data['username'] +" On "+data['createddate']);
    $("#topic_details").html(data['topicdetails']);
    var comments = TTS.forms.processcomment(data);
    $("#comments").html(comments);
};

TTS.forms.processcomment = function (obj) {
    console.log(obj);
    c = "<ul class='forum'>";
    for (var i in obj['comments']) {
        c += "<li><img src='http://placehold.it/50x50'> "+obj['comments'][i]['postdetails']+" <i class='fa fa-reply reply_comment'></i></li>";
        if (typeof (obj['comments'][i]['comments']) !== 'undefined' 
            && obj['comments'][i]['comments'].length ){
            c += TTS.forms.processcomment(obj['comments'][i]);
        }
    }
    c += "</ul>";
    return c
}

$(document).ready(function(){
    $.ajax({
        "url":"/api/admin/topicinfo/"+TTS.utils.getUrlParameter('topicid')+"/?format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.renderviewforum(data);
    });

    setTimeout(function(){ new_test(); }, 100); 
});


var new_test = function (){ 
    $(".reply_comment").click(function (){
        console.log();
        $(".reply_textarea").hide("slow");
        var id = $(this).attr("alt");
        var name = $(this).attr("name");
        $(".comment_text_area").toggle("slow");
        //$(".comment_text_area"+id).toggle("slow");
        //$("#comment_reply_textarea_"+id).attr("name",name)
    });
} 

$(".save_comment_reply").click(function (){
    var id = $(this).attr("alt");
    var jsondata ={
            postdetails : $("#comment_reply_textarea_"+id).val(),
            topicid : TTS.utils.getUrlParameter("topicid"),
            forumid : TTS.utils.getUrlParameter("forumid"),
            parentid :$("#comment_reply_textarea_"+id).attr("name")
        };
   $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: JSON.stringify(jsondata),
        url : '/api/admin/postinfo/'
    }).done(function( msg ) {
        location.reload();
    });

});

$("#main_thread_reply").click(function (){
    $(".reply_textarea").toggle("slow");
});

$("#save_main_thread_reply").click(function (){
   var jsondata ={
            postdetails : $("#thread_reply_textarea").val(),
            topicid : TTS.utils.getUrlParameter("topicid"),
            forumid : TTS.utils.getUrlParameter("topicid"),
            parentid :0
        };
   $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: JSON.stringify(jsondata),
        url : '/api/admin/postinfo/'
    }).done(function( msg ) {
        location.reload();
    });
});
</script>

{% endblock scriptcontent %}
