{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Forum" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}

{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Forum" %} &nbsp; <span id="addrec">
                <i class="fa fa-plus-square fa-lg"></i></span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <!--<center> <h4><div id="headermsg"></div></h4></center> -->
                <table class="table table-striped table-bordered table-hover" 
                    id="viewforum-main-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<link href="{%static "ajaxuploader/css/fileuploader.css" %}" rel="stylesheet">
<style>
    #addrec:hover, #viewforum-main-tbl tbody tr:hover, .tts-delete:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script id="topic-form" type="text/x-jsrender">
    {% crispy form %}
</script>

<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
/*TTS.forms.update_chapter_list = function () {
    var classid = $("#classid").val();
    var section = $("#section").val();
    var url = "/api/admin/teacherresourcesinfo/?classid="+classid+"&section="+section+"&format=json";
    $.ajax({
        url  : url,
        type : "GET"
    })
    .done(function(data){
        var opt = "";
        for (var d in data){
            opt += "<option value='"+data[d].chapterid+"'>"+data[d].chaptername+"</option>";
        }
        $("#chapterid").html(opt);
    })
};*/
TTS.forms.addviewfourm = function(form, data) {
    $.ajax({
        headers : {
            'X-CSRFToken' : JSON.parse(data).csrfmiddlewaretoken
        },
        type:'POST',
        data: data,
        url : '/api/forum/topicinfo/'
    }).done(function( msg ) {
     //   console.log(data)
        form.close();
        location.reload();
        //dialogItself.close();
    });
}
TTS.forms.showviewfourm = function() {
    BootstrapDialog.show({
        title: 'Forum',
        message: $($('#topic-form').render()),
        onshown: function(){
            $('.summernote').summernote();
        },
        buttons: [{
            label: 'Save',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                var data = TTS.utils.serilaizeJson("#newtopic-forum");
                data = JSON.parse(data);
                data['forumid'] = TTS.utils.getUrlParameter("forumid");
                data['forumname'] = TTS.utils.getUrlParameter("forumname");
                data = JSON.stringify(data);
                TTS.forms.addviewfourm(dialogItself, data); 
            }
            },{
            label: 'Cancel',
            action: function(dlg){
                dlg.close();
            }
        }]
    });
};

TTS.forms.renderviewfourminfo = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center" ,
              "data" : "slno"  
            },
            { "title": "{% trans "Topics" %}",
              "data" : "topicname" ,
              "class": "viewtopicname" 
            },
            { "title": "{% trans "Total Comments" %}",
              "data" : "totalpost"  
            },
            { "title": "{% trans "Last author" %}",
              "class": "text-center" ,
              "data" : "lastpostedby"  
            },
            { "title": "{% trans "By Last Day" %}",
              "class": "text-center" ,
              "data" : "lastposteddate"  
            },
        ];
    var dataset = [];
    var count = 0
    for(var i in data){
        var t = {};
        t.DT_RowId = data[i].forumid+'/'+data[i].topicid;
        t.slno = ++count;
        t.topicname = data[i].topicname;
        t.totalpost = data[i].totalpost;
        t.lastpostedby = data[i].lastpostedby;
        t.lastposteddate = data[i].lastposteddate;
        dataset.push(t);
    }

    $('#viewforum-main-tbl').dataTable({
        "data":     dataset,
        "columns":  headers
    });

};

$(document).ready(function(){
    $.ajax({
        "url":"/api/forum/topicinfo/?forumid="+TTS.utils.getUrlParameter("forumid")+"&format=json",
        "type":"GET"
    }).done(function(data){
        if (data.length) {
            TTS.forms.renderviewfourminfo(data);
        } else {
            TTS.forms.table.fnClearTable();
        }
    });
    var dataname = TTS.utils.getUrlParameter("forumname");
    $("#headermsg").html(dataname);




    $('#viewforum-main-tbl').on('click', 'tbody tr', function(){
        var myString = this.id;
        var arr = myString.split('/');

        //window.location ='viewpost?forumid='+arr[0]+'&topicid='+arr[1]+'&topicname='+$($(this).find(".viewtopicname")[0]).text()+'&forumname='+TTS.utils.getUrlParameter("forumname");
        //console.log(this.id);
    });

    $("#wrapper").on("click", "#addrec", function(){
       // window.location ='newtopic?forumid='+TTS.utils.getUrlParameter("forumid")+'&forumname='+TTS.utils.getUrlParameter("forumname");
    });

    $("#page-wrapper").on("click", "#addrec", function(){
        TTS.forms.showviewfourm();
    });
   
});

</script>

{% endblock scriptcontent %}
