{% extends 'portalteacher/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Written Work" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
            <div class="panel-heading">
                <div class='col-lg-5'>    
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label>{% trans "From Date" %}: </label>
                        </div>    
                        <div class="col-lg-7" id='fromdate'>
                            <div class='input-group'>
                                <input type='text' class="form-control" data-date-format="YYYY-MM-DD"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-lg-5'>    
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label>{% trans "To Date" %}: </label>
                        </div>
                        <div class="col-lg-7" id='tilldate'>
                            <div class='input-group'>
                                <input type='text' class="form-control" data-date-format="YYYY-MM-DD"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="button">{% trans "Search" %}</button>
                <span id="addrec">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-plus-square fa-lg"></i></span>
            </div>


        <!-- /.panel-heading -->
            <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{% trans "New" %}</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">{% trans "Edited" %}</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">...</div>
                    <div role="tabpanel" class="tab-pane" id="profile">...</div>
                  </div>

                </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->

    <script>
    $('#fromdate,#tilldate').datetimepicker({
        pickTime: false
    });
    </script>                
{% endblock botcontent%}
{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, #admin-main-tbl tbody tr:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}


{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}">

</script>
<script src="{% static "js/tts.utils.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>

{% endblock morescript %}

{% block scriptcontent %}

<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}

TTS.forms.addwrittenwork = function() {
    BootstrapDialog.show({
        title: 'Writing job',
        onshown: function(dialogRef){
            $('.summernote').summernote();
        },
        message: $($('#addwrittenwork').render()),
        buttons: [{
            label: '{% trans "Save" %}',
            cssClass: 'btn-primary',
            action: function(){
                var data = TTS.utils.serilaizeJson("#newfolderfrm");
                $.ajax({
                    headers : {
                        'X-CSRFToken' : JSON.parse(data).csrfmiddlewaretoken
                    },
                    type:'POST',
                    data: {'data':data},
                    url : '/api/admin/addfolder'
                }).done(function( msg ) {
                    console.log(msg);
                    //dialogItself.close();
                });
            }
            },{
            label: '{% trans "Close" %}',
            action: function(dialogItself){
                dialogItself.close();
            }
        }]
    });
};

$(document).ready(function(){

    $('#admin-main-tbl tbody').on('click', 'tr', function(){
        //window.location = 'teacherresourcelist?id='+this.id;
    });
    $('#admin-main-tbl tbody tr').on('click', '.tts-edit', function(e){
        e.stopPropagation();
        TTS.forms.addwrittenwork();
    });
    $('#admin-main-tbl tbody tr').on('click', '.tts-delete', function(e){
        e.stopPropagation();
        if (!window.confirm("Do you want to delete this record?")) {
            return false;
        }
        alert("Record Deleted")
        window.location = 'schoollist';
    });
    $("#page-wrapper").on("click", "#addrec", function(){
        //TTS.forms.addwrittenwork();
        window.location='addwrittenwork';
    });


});

</script>


{% endblock scriptcontent %}