<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{%static "css/plugins/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{%static "css/plugins/timeline.css" %}" rel="stylesheet">
    {% block morecss %}{% endblock %}
    <!-- Custom CSS -->
    <link href="{%static "css/sb-admin-2.css" %}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{%static "css/sb-admin-10t.css" %}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="{%static "css/plugins/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{%static "font-awesome-4.1.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">10Tசிகரம் </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><a href='home'>மூலத் திரை <i class="fa fa-home fa-lg"></i></a></li>
                <li><a href='billboard'>அறிவிப்புப் பலகை <i class="fa fa-list fa-lg"></i></a></li>
                <li><a href='../forum'>கருத்துக்களம் <i class="fa fa-comments fa-lg"></i></a></li>
                <li><a href='../logout'>வெளியேறு <i class="fa fa-sign-out fa-lg"></i></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a class="active" href="adminlist"><i class="fa fa-users fa-fw"></i> நிர்வாகிகள்</a>
                        </li>
                        <li>
                            <a class="active" href="teacherslist">
                                <i class="fa fa-female fa-fw"></i>ஆசிரியர்கள்
                            </a>
                        </li>
                        <li>
                            <a class="active" href="studentslist">
                                <i class="fa fa-user fa-fw"></i>மாணவர்கள்
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                <i class="fa fa-book fa-fw"></i>வளங்கள்
                                <span class="fa arrow">
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="statistics-activities">ஆசிரியர் வளங்கள்</a>
                                </li>
                                <li>
                                    <a href="statistics-assignment">மாணவர் வளங்கள்</a>
                                </li>
                                <li>
                                    <a href="statistics-assessment">தேர்வு புள்ளி விவரம்</a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="active" href="#">
                                <i class="fa fa-bar-chart-o fa-fw"></i>புள்ளி விவரம் 
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="statistics-activities">புகுபதிகை புள்ளி விவரம்</a>
                                </li>
                                <li>
                                    <a href="statistics-assignment">வீட்டு பாடம் புள்ளி விவரம்</a>
                                </li>
                                <li>
                                    <a href="statistics-assessment">தேர்வு புள்ளி விவரம்</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="active" href="classroom">
                                <i class="fa fa-building fa-fw"></i>வகுப்பறை
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        {% block topcontent %}{% endblock %}
        {% block botcontent %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->    
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{%static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static "js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%static "js/plugins/metisMenu/metisMenu.js" %}"></script>
    {% block morescript %}{% endblock %}
    <!-- Custom Theme JavaScript -->
    <script src="{%static "js/sb-admin-2.js" %}"></script>
    {% block scriptcontent %}{% endblock %} 
    
    <!-- Bootstrap Dialog CSS and JavaScript -->
    <link href="{%static "bower_components/bootstrap3-dialog/examples/assets/bootstrap-dialog/css/bootstrap-dialog.min.css" %}" rel="stylesheet" type="text/css" />
    <script src="{%static "bower_components/bootstrap3-dialog/examples/assets/bootstrap-dialog/js/bootstrap-dialog.min.js" %}"></script>
</body>

</html>