{% extends 'portalstudent/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Practicals" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading ">
            <div class="col-lg-5">
               <div id="add" class="col-lg-5">{% trans "From Date" %}</div>
                    <div class="input-group col-lg-7">
                        <input type="text" class="form-control" id="datetimepicker1" data-date-format="YYYY-MM-DD">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
            </div>    
            <div class="col-lg-5">
                <div id="add" class="add col-lg-5">{% trans "To Date" %}</div>
                <div class="input-group date col-lg-7">
                    <input type="text" class="form-control" id="datetimepicker2" data-date-format="YYYY-MM-DD">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
               <button type="button" class="btn btn-primary">{% trans "Search" %}</button>
        </div>


        <!-- /.panel-heading -->
            <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">New</a></li>
                    <li role="presentation"><a href="#saved" aria-controls="saved" role="tab" data-toggle="tab">Saved</a></li>
                    <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="new">...</div>
                    <div role="tabpanel" class="tab-pane" id="saved">...</div>
                    <div role="tabpanel" class="tab-pane" id="completed">...</div>
                  </div>

                </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}
{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, #admin-main-tbl tbody tr:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}


{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}">

</script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script>
$(document).ready(function(){
    $('#datetimepicker1,#datetimepicker2').datetimepicker({
        pickTime: false
    });
});
</script>

{% endblock morescript %}

