{% extends 'portalstudent/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Student Work" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Student Work" %}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover"
                     id="studentassigned-resource-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<style>
    #addrec:hover, .assignotes:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
TTS.forms.renderstudentwork = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center",
              "data" : "slno"   
            },
            { "title": "{% trans "Title" %}",
              "data" : "title" 
            },
            { "title": "{% trans "Type" %}",
              "data" : "type" 
            }, 
            { "title": "{% trans "Date" %}",
              "data" : "date" 
            }, 
            { "title": "{% trans "Note" %}",
              "class": "text-center",
              "data" : "note"   
            }, 
        ];
    
    var dataset = [];
    
    var count = 0
    
    for(var i in data){
        var t = [];
        t.DT_RowId = data[i].resourceid;
        t.slno = ++count;
        t.title = data[i].resourcetitle;
        t.type = data[i].resourcetype;
        t.date = TTS.utils.datetimeConv(data[i].createddate);
        t.note = "<i class='assignotes'> Notes</i>";
        dataset.push(t);
    }
    if (TTS.forms.table) {
        TTS.forms.table.fnClearTable();
        TTS.forms.table.fnAddData(
            dataset
        );
        return true;
    }
    TTS.forms.table = $('#studentassigned-resource-tbl').dataTable({"language" : TTS.utils.datatable_ta,
        "data":     dataset,
        "columns":  headers
    });
};
$(document).ready(function(){
    $.ajax({
        "url":"/api/admin/resourceinfo/?studentid=&studentloginid=&format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.renderstudentwork(data);
    });
    $('#studentassigned-resource-tbl').on('click', 'tbody tr', function(){
        window.location = 'viewstudentresource?resourceid='+this.id;
    });
});

</script>
{% endblock scriptcontent %}