{% extends 'portalstudent/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Title" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}

{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
               <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover"
                     id="admin-main-tbl">
               <div class="row">
                    <div id="sendclassroomhtml" class="col-lg-12"></div>
                </div><br />
                <div class="row">
                    <label class="col-lg-2">{% trans "Title" %}</label>
                    <div class="col-lg-10" id="written-title"></div>
                </div><br />
                <div class="row">
                    <label class="col-lg-2">{% trans "Notes" %}</label>
                    <div class="col-lg-10" id="notes-title"></div>
                </div><br />
                <div class="row">
                    <label class="col-lg-2">{% trans "Assigned" %} {% trans "Date" %}</label>
                    <div class="col-lg-4" id="assigned-date"></div>
                    <label class="col-lg-2">{% trans "Answerd" %} {% trans "Date" %} </label>
                    <div class="col-sm-4" id="publish-date"></div>
                </div><br />
                <div class="row">
                    <label class="col-lg-2">{% trans "Creator" %}</label>
                    <div class="col-lg-10" id="creator-title"></div>
                </div><br />
                <div class="row">
                    <label class="col-lg-2">{% trans "Answer" %}</label>
                </div>  
                <div>
                    <div class="row show-grid">
                        <div class="col-lg-12" id="student-answer">
                        </div>
                    </div>
                </div>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, #admin-main-tbl tbody tr:hover{
        cursor: pointer;
    }
    .text_area{
        width:70%;
        height:50px;
    }
</style>
{% endblock morecss %}


{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}

<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {} 

TTS.forms.renderstudentwritteninfo = function(data){
    $("#written-title").html(data[0].writtenworktitle);
    $("#notes-title").html(data[0].description);
    $("#assigned-date").html(TTS.utils.dateConv(data[0].assigneddate));
    $("#publish-date").html(TTS.utils.dateConv(data[0].publisheddate));
    $("#creator-title").html(data[0].first_name+" "+data[0].last_name);
    $("#student-answer").html(data[0].answertext);
    if(data[0].isclassroom == 0){
        $('#sendclassroomhtml').html('<a href="javascript:void(0)" id="sendclassroom" >{% trans "Send to Classroom" %}</a>');
    }else if(data[0].isclassroom == 1){
        $('#sendclassroomhtml').html('{% trans "Resource already sent to classroom" %}');
    }

};

$(document).ready(function(){  
    var studentid = TTS.utils.getUrlParameter('studentid');
    var writtenworkid = TTS.utils.getUrlParameter('writtenworkid');
    $.ajax({
        "url":"/api/admin/studentwrittenworkinfo/?studentid="+studentid+"&writtenworkid="+writtenworkid+"&format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.renderstudentwritteninfo(data);
    });
    $("body").on("click","a#sendclassroom", function(event){
        var assignedid = $("#assignedid").val();
        var crdata = {
            assignedid   : assignedid,
            studentid    : studentid,
            assignedtype : 'ar'
        }
        $.ajax({
            headers : {
                'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
            },      
            type: 'POST',
            data: JSON.stringify(crdata),
            url : '/api/admin/classinfo/'
        }).done(function(msg) {
            if(msg = 'saved')
                alert("Resource sent to classroom");
            location.reload();
        });
    })
});
</script>
{% endblock scriptcontent %}