{% extends 'portalstudent/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Student Work" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}
{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Student Work" %}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover"
                     id="student-written-tbl">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<style>
    #addrec:hover, .tts-view:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
TTS.studentid = TTS.utils.getUrlParameter('studentid')
TTS.forms.renderstudentwork = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center",
              "data" : "slno",
              "bSortable":false   
            },
            { "title": "{% trans "Title" %}",
              "data" : "title" 
            },
            { "title": "{% trans "Date" %}",
              "data" : "date" 
            }, 
            { "title": "{% trans "Note" %}",
              "class": "text-center",
              "data" : "note",
              "bSortable":false   
            }, 
        ];
    
    var dataset = [];
    
    var count = 0
    
    for(var i in data){
        var t = {};
        t.DT_RowId = data[i].writtenworkid;
        t.slno = ++count;
        t.title = data[i].writtenworktitle;
        t.date = TTS.utils.datetimeConvDate(data[i].assigneddate);
        t.note = "<i class='flaticon-zoom38 tts-view' id="+data[i].writtenworkid+"></i>";
        dataset.push(t);
    }
    if (TTS.forms.table) {
        TTS.forms.table.fnClearTable();
        TTS.forms.table.fnAddData(
            dataset
        );
        return true;
    }
    TTS.forms.table = $('#student-written-tbl').dataTable({"language" : TTS.utils.datatable_ta,
        "data":     dataset,
        "columns":  headers
    });
};
$(document).ready(function(){
    $.ajax({
        "url":"/api/admin/studentwrittenworkinfo/?studentid="+TTS.studentid+"&format=json",
        "type":"GET"
    }).done(function(data){
        TTS.forms.renderstudentwork(data);
        $("table#student-written-tbl thead tr th").removeClass('sorting_asc');
    });
    $('#student-written-tbl').on('click', '.tts-view', function(){
        window.location = 'viewstudentwork?studentid='+TTS.studentid+'&writtenworkid='+this.id;
    });
});

</script>
{% endblock scriptcontent %}