{% extends 'portalforum/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div class="row">
    <div class="form-group" class="col-sm-3">
        <div class="col-sm-1">
           
        </div>
    </div>
</div>

{% endblock topcontent %}
{% block botcontent %}

<div class="col-lg-12">
    <div class="panel panel-default">
    <form enctype="multipart/form-data" action="" method="POST"> 
        <div class="panel-heading">
            {% trans "New Conversation" %} 
        </div>
        <!-- /.panel-heading -->
        <div class="gentable" id ="rub_mtx_head rub_mtx_rows">
            {% crispy form %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary" id="addrec">Save</button>
        </div>

         <table class="table table-striped table-bordered table-hover" 
                    id="forum-main-tbl">
        </table>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
                <!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<style>
    #addrec:hover, .tts-edit:hover, .tts-delete:hover, #admin-main-tbl tbody tr:hover {
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}">

</script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script id="rubrics-form" type="text/x-jsrender">

</script>


<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
TTS.forms.addtfourms = function(form, data) {
    $.ajax({
        type:'POST',
        data: data,
        url : '/api/forum/foruminfo/'
    }).done(function( msg ) {
        console.log(data)
        //form.close();
        location.reload();
        //dialogItself.close();
    });
}
TTS.forms.showfourms = function() {
    var data = TTS.utils.serilaizeJson("#add-forum");
    TTS.forms.addtfourms(data); 
};

TTS.forms.renderfourminfo = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center" ,
              "data" : "slno"  
            },
            { "title": "{% trans "Topics" %}",
              "data" : "forumname" , 
              "class": "topic"
            },
            
            { "title": "{% trans "By Last Day" %}",
              "class": "text-center" ,
              "data" : "createddate"  
            },

            { "title": "{% trans "New Topic" %}",
              "class": "addnewtopic" ,
              "data" : "topic"
            },
            { "title": "{% trans "Delete" %}",
              "class": "text-center" ,
              "data" : "delete"  
            },
        ];
    var dataset = [];
    var count = 0
    for(var i in data){
        var t = [];
        t.DT_RowId = data[i].forumid;
        t.slno = ++count;
        t.forumname = data[i].forumname;
        t.createddate = data[i].createddate;
        t.topic = "<a herf class=''>New Topic</a>";
        t.delete = "<i class='tts-delete fa fa-trash fa-lg'></i>";
        dataset.push(t);
    }

    $('#forum-main-tbl').dataTable({
        "data":     dataset,
        "columns":  headers
    });

};

$(document).ready(function(){
     $.ajax({
        "url":"/api/forum/foruminfo/?format=json",
        "type":"GET"
    }).done(function(data){
        if (data.length) {
            TTS.forms.renderfourminfo(data);
        } else {
            TTS.forms.table.fnClearTable();
        }
    });

    $('body').on('click','.addnewtopic', function(){
        alert("hi");
        window.location ='viewtopic?forumid='+this.id+'&forumname='+$($(this).find(".topic")[0]).text()
        $("#page-wrapper").on("click", "#addrec", function(){
         TTS.forms.showviewfourm();
        });
    });
    
    $("#page-wrapper").on("click", "#addrec", function(){
       TTS.forms.showfourms();
        //alert("hi");
    });

});

</script>
{% endblock scriptcontent %}