{% extends 'portalforum/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Forum" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}

{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Forum" %}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <center><h4><div id="headermsg"></div></h4></center>
                <table class="table table-striped table-bordered table-hover" 
                    id="forum-reply-tbl">
                </table>

                <div><button class="btn btn-primary center-block" id="allreply">Reply</button></div>
                
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<link href="{%static "ajaxuploader/css/fileuploader.css" %}" rel="stylesheet">
<style>
    #addrec:hover, #forum-reply-tbl tbody tr:hover, .tts-delete:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}
<script id="replytopic" type="text/x-jsrender">
{% crispy form %}
</script>

<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
/*TTS.forms.update_chapter_list = function () {
    var classid = $("#classid").val();
    var section = $("#section").val();
    var url = "/api/admin/teacherresourcesinfo/?classid="+classid+"&section="+section+"&format=json";
    $.ajax({
        url  : url,
        type : "GET"
    })
    .done(function(data){
        var opt = "";
        for (var d in data){
            opt += "<option value='"+data[d].chapterid+"'>"+data[d].chaptername+"</option>";
        }
        $("#chapterid").html(opt);
    })
};*/
TTS.forms.addviewpost = function(form, data) {
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: data,
        url : '/api/forum/postreplyinfo/'
    }).done(function( msg ) {
        console.log(data)
        form.close();
        location.reload();
        //dialogItself.close();
    });
}

TTS.forms.allreplypost = function(form, data) {
    $.ajax({
        headers : {
            'X-CSRFToken' : TTS.utils.getCookie('csrftoken')
        },
        type:'POST',
        data: data,
        url : '/api/forum/postinfo/'
    }).done(function( msg ) {
        console.log(data)
        form.close();
        location.reload();
        //dialogItself.close();
    });
}

TTS.forms.replysingle = function(topicid, postid) {
    BootstrapDialog.show({
        title: 'New Conversation',
        message: $($('#replytopic').render()),
        onshown: function(){
            $('.summernote').summernote();
        },
        buttons: [{
            label: '{% trans "Save" %}',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                var data = TTS.utils.serilaizeJson("#reply-post");
                console.log(data);
                var jdata = JSON.parse(data);
                console.log(jdata);
                //adding a new key
                jdata['topicid'] = topicid;
                jdata['postid'] = postid;
                //console.log(jdata);
                var sdata = JSON.stringify(jdata);
                console.log(sdata);
                TTS.forms.addviewpost(dialogItself, sdata); 
            }
            },{
            label: '{% trans "Close" %}',
            action: function(dlg){
                dlg.close();
            }
        }]
    });
};


TTS.forms.replyall = function(forumid,topicid) {
    BootstrapDialog.show({
        title: 'New Conversation',
        message: $($('#replytopic').render()),
        onshown: function(){
            $('.summernote').summernote();
        },
        buttons: [
            {
                label: '{% trans "Save" %}',
                cssClass: 'btn-primary',
                action: function(dialogItself){
                    var data = TTS.utils.serilaizeJson("#reply-post");
                    var jdata = JSON.parse(data);
                    //adding a new key
                    jdata['forumid'] = forumid;
                    jdata['topicid'] = topicid;
                    //alert(topicid);
                    var sdata = JSON.stringify(jdata);
                    TTS.forms.allreplypost(dialogItself, sdata); 
                }
            }, {
                label: '{% trans "Close" %}',
                action: function(dlg){
                    dlg.close();
                }
            }
        ]
    });
};



TTS.forms.renderviewforum = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center" ,
              "data" : "slno"  
            },
            { "title": "{% trans "Comments" %}",
              "data" : "postdetails"  
            },
            { "title": "{% trans "Author" %}",
              "data" : "firstname"  
            },
            { "title": "{% trans "Writing Day" %}",
              "class": "text-center" ,
              "data" : "posteddate"  
            },
            { "title": "{% trans "Reply" %}",
              "class": "singlereply" ,
              "data" : "reply"  
            },
            { "title": "{% trans "View" %}",
              "class": "text-center" ,
              "data" : "view"  
            },
            { "title": "{% trans "Delete" %}",
              "class": "text-center" ,
              "data" : "delete"  
            },
        ];
    var dataset = [];
    var count = 0
    for(var i in data){
        var t = {};
        t.DT_RowId = data[i].postid;
        t.slno = ++count;
        t.postdetails = data[i].postdetails;
        t.firstname = data[i].firstname;
        t.posteddate = data[i].posteddate;
        t.reply = "<i class='tts-reply fa fa-reply fa-lg'></i>";
        t.view = "<i class='fa fa-plus-square fa-lg'></i>";
        t.delete = "<i class='tts-delete fa fa-trash fa-lg'></i>";
        dataset.push(t);
    }

    if (TTS.forms.table) {
        TTS.forms.table.fnClearTable();
        TTS.forms.table.fnAddData(
            dataset
        );
        return true;
    }

    TTS.forms.table = $('#forum-reply-tbl').dataTable({"language" : TTS.utils.datatable_ta,
        "data":     dataset,
        "columns":  headers
    });
};


$(document).ready(function(){
   
    $.ajax({
        "url":"/api/forum/postinfo/?topicid="+TTS.utils.getUrlParameter("topicid")+"&format=json",
        "type":"GET"
    }).done(function(data){
        if (data.length) {
           // console.log(data);
            TTS.forms.renderviewforum(data);
        } else {
            //TTS.forms.table.fnClearTable();
        }
    });

    $("#wrapper").on("click", "#allreply", function(){
        TTS.forms.replyall(TTS.utils.getUrlParameter("forumid"),TTS.utils.getUrlParameter("topicid"));
    });

    var dataname = TTS.utils.getUrlParameter("forumname");
    $("#headermsg").html(dataname);

    $("#wrapper").on("click", ".singlereply", function(){
        //console.log($(this).parent().prop("id"));
          window.location ='newtopic?replyid='+$(this).parent().prop("id")+' & forumid='+TTS.utils.getUrlParameter("forumid")+'&topicid='+TTS.utils.getUrlParameter("topicid")+'&forumname='+TTS.utils.getUrlParameter("forumname");

        TTS.forms.replysingle(TTS.utils.getUrlParameter("postid"), $(this).parent().prop("id"));

    });

    $('#forum-reply-tbl').on('click', '.tts-delete', function(e){
        e.stopPropagation();
        if (!window.confirm("Do you want to delete this record?")) {
            return false;
        }
        alert("Record Deleted")
    });

    $("#forum-reply-tbl").on('click', '.fa-plus-square', function () {
        TTS.postreplyid = $(this).parent().parent().prop("id");
        $.ajax({
            "url":"/api/forum/postreplyinfo/?postreplyid="+TTS.postreplyid,
            "type":"GET"
        }).done(function(data){
            if (data.length) {
                var vprhtml = TTS.forms.viewpostreply(data);
                $("#forum-reply-tbl tr#"+TTS.postreplyid).after(vprhtml);
                $("#forum-reply-tbl tr#"+TTS.postreplyid+" td i.fa-plus-square").removeClass('fa-plus-square').addClass('fa-minus-square');
            } else {
                alert("There is no reply for this post");
            }
        });
    });
    $("#forum-reply-tbl").on('click', '.fa-minus-square', function () {
        $(this).addClass('fa-plus-square').removeClass('fa-minus-square');
        $(this).parent().parent().next().remove();
    });

   
});


/* Formatting function for row details - modify as you need */
TTS.forms.viewpostreply = function( dataObj ) {
    var viewpostHTML = ''; 
    // `dataObj` is the original data object for the row
    viewpostHTML += '<tr><td colspan="7"><div class="panel-body">'+
                        '<div class="table-responsive">'+
                        '<table class="table table-striped table-bordered table-hover">'+
                        '<tr align="center" >'+
                        '<th>S.No.</td>'+
                        '<th>Comment reply</td>'+
                        '<th>Author</td>'+
                        '<th>Writing Day</td>'+
                        '</tr>';
                        $(dataObj).each(function(key, val){
                            viewpostHTML += '<tr>'+
                                '<td align="center">'+(key+1)+'</td>'+
                                '<td>'+val.postdetails+'</td>'+
                                '<td>'+val.postedby+'</td>'+
                                '<td>'+val.posteddate+'</td>'+
                                '</tr>';
                        });

    viewpostHTML +='</table>'+
                    '</div>'+
                '</div></td></tr>';

    return viewpostHTML;
};
 


</script>

{% endblock scriptcontent %}
