{% extends 'portalforum/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block topcontent %}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{% trans "Forum" %}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock topcontent %}

{% block botcontent %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Forum" %}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" 
                    id="forum-main-tbl">
                </table>
                <table class="table table-striped table-bordered table-hover" 
                    id="forum-reply-tbl">
                    <tr><td>Reply</td></tr>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
{% endblock botcontent%}

{% block morecss %}
<link href="{%static "css/plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
<link href="{%static "bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{%static "bower_components/summernote/dist/summernote.css" %}">
<link href="{%static "ajaxuploader/css/fileuploader.css" %}" rel="stylesheet">
<style>
    #addrec:hover, #forum-main-tbl tbody tr:hover, .tts-delete:hover{
        cursor: pointer;
    }
</style>
{% endblock morecss %}

{% block morescript %}
<script src="{%static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{%static "js/plugins/dataTables/jquery.dataTables.js" %}"></script>
<script src="{%static "js/plugins/dataTables/dataTables.bootstrap.js" %}"></script>
<script src="{% static "bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js" %}"></script>
<script src="{% static "bower_components/jsrender/jsrender.min.js" %}"></script>
<script src="{%static "bower_components/summernote/dist/summernote.min.js" %}"></script>
<script src="{% static "js/tts.utils.js" %}"></script>
{% endblock morescript %}

{% block scriptcontent %}

<script>
window.TTS = window.TTS || {}
TTS.forms = TTS.forms || {}
/*TTS.forms.update_chapter_list = function () {
    var classid = $("#classid").val();
    var section = $("#section").val();
    var url = "/api/admin/teacherresourcesinfo/?classid="+classid+"&section="+section+"&format=json";
    $.ajax({
        url  : url,
        type : "GET"
    })
    .done(function(data){
        var opt = "";
        for (var d in data){
            opt += "<option value='"+data[d].chapterid+"'>"+data[d].chaptername+"</option>";
        }
        $("#chapterid").html(opt);
    })
};*/
TTS.forms.addviewpost = function(form, data) {
    $.ajax({
        type:'POST',
        data: data,
        url : '/api/forum/postinfo/'
    }).done(function( msg ) {
        console.log(data)
        form.close();
        location.reload();
        //dialogItself.close();
    });
}
TTS.forms.showviewpost = function() {
    BootstrapDialog.show({
        title: 'New Conversation',
        message: $($('#fourm').render()),
        onshown: function(){
        },
        buttons: [{
            label: 'Save',
            cssClass: 'btn-primary',
            action: function(dialogItself){
                var data = TTS.utils.serilaizeJson("#add-forum");
                data = JSON.parse(data);
                data['topicid'] = TTS.utils.getUrlParameter("topicid");
                data = JSON.stringify(data);
                TTS.forms.addviewpost(dialogItself, data); 
            }
            },{
            label: 'Cancel',
            action: function(dlg){
                dlg.close();
            }
        }]
    });
};

TTS.forms.renderviewforum = function(data){
    var headers = [
            { "title": "{% trans "Sl No." %}",
              "class": "text-center" ,
              "data" : "slno"  
            },
            { "title": "{% trans "Comments" %}",
              "data" : "forumname"  
            },
            { "title": "{% trans "Author" %}",
              "data" : "totaltopic"  
            },
            { "title": "{% trans "Writing Day" %}",
              "class": "text-center" ,
              "data" : "createddate"  
            },
        ];
    var dataset = [];
    var count = 0
    for(var i in data){
        var t = {};
        t.DT_RowId = data[i].topicid;
        t.slno = ++count;
        t.postdetails = data[i].postdetails;
        t.firstname = data[i].firstname;
        t.posteddate = data[i].posteddate;
        dataset.push(t);
    }

    $('#forum-main-tbl').dataTable({
        "data":     dataset,
        "columns":  headers
    });

};


$(document).ready(function(){
    $.ajax({
        "url":"/api/forum/postinfo/?topicid="+TTS.utils.getUrlParameter("topicid")+"&format=json",
        "type":"GET"
    }).done(function(data){
        if (data.length) {
            TTS.forms.renderviewforum(data);
        } else {
            TTS.forms.table.fnClearTable();
        }
    });

    $('#forum-main-tbl').on('click', 'tbody tr',function(e){
        e.stopPropagation();
        //console.log("Hello");
       // window.location =' viewpost?forumid='+this.id;
    });

    $('#forum-reply-tbl').on('click', 'tbody tr',function(e){
        e.stopPropagation();
        //console.log("Hello");
       // window.location =' viewpost?forumid='+this.id;
    });

   
    $('#forum-main-tbl').on('click', '.tts-delete', function(e){
        e.stopPropagation();
        if (!window.confirm("Do you want to delete this record?")) {
            return false;
        }
        alert("Record Deleted")
        window.location = 'teacherresourcelist';
    });

    $("#page-wrapper").on("click", "#addrec", function(){
        //TTS.forms.showviewpost();
    });
   
});

</script>

{% endblock scriptcontent %}
